@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');





html, body{
   height: 100%;
}

body{
   margin: 0;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.head {
   display: flex;
   height: 100px;
   align-items: center;
   justify-content: space-between;
   padding: 0px 40px;
}
.logo{
   max-height: 68px;
   max-width: 68px;
}


#menu__toggle{
   visibility: hidden;
}
.menu__box{
   display: flex;
}
.menu__box li{
   list-style-type: none;
}
.menu__item{
   font-family: 'Open Sans', sans-serif;
   text-decoration: none;
   color: black;
   font-size: 14px;
   font-weight: 600;
   color: #555555;
   cursor: pointer;
   padding: 0px 7px;
}
.menu__item:hover{
   color: #5363db;
   text-decoration: underline 2px;
}

.baner{
   overflow: hidden;
   width: 100%;
   height: 600px;
   opacity: 0.8;
   background: url(../img/bg-01.jpg) no-repeat;
   background-size: 100% 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

section h1{
   font-family: 'Open Sans';
   font-size: 48px;
   line-height: 72px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
}
section p{
   font-family: 'Freestyle Script';
   font-size: 40px;
   line-height: 1.2;
   font-weight: 400;
   color: #ffffff;
}

.callback {
   width: 300px;
   height: 391px;
   background-color: #ffffff;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   margin-right: 100px;
}
.callback-titl{
   font-family: 'Open Sans';
   font-size: 25.7px;
   line-height: 1.2;
   font-weight: 600;
   color: #5363db;
   margin: 30px 0px 25px 26px;
}
fieldset{
   margin-left: 26px;
}
.button {
   width: 170px;
   height: 50px;
   background-color: #5b6ceb;
   cursor: pointer;
   border-radius: 15px;
   border-color: #5b6ceb;
   margin: 30px 30px 35px 100px;
   font-family: 'Open Sans';
   font-size: 16px;
   line-height: 1.2;
   font-weight: 700;
   color: #ffffff;
}
#name{
   width: 240px;
   height: 50px;
   background-color: #f2f2f2;
   border-color: #ffffff;
   margin-bottom: 17px;
}
#phone{
   width: 240px;
   height: 50px;
   background-color: #f2f2f2;
   border-color: #ffffff;
   margin-bottom: 17px;
}
.skills {
   width: 248px;
   height: 50px;
   background-color: #f2f2f2;
   border-color: #ffffff;
}

::placeholder{
   font-family: 'Open Sans';
   font-size: 14px;
   line-height: 1.2;
   font-weight: 400;
   color: #888888;
}
.chose{
   font-family: 'Open Sans';
   font-size: 14px;
   line-height: 1.2;
   font-weight: 400;
   color: #888888;
}
h2{
   font-family: 'Open Sans';
   font-size: 30px;
   line-height: 45px;
   font-weight: 700;
   text-transform: uppercase;
   color: #5b6ceb;
}
.our{
   font-family: 'Freestyle Script';
   font-size: 41px;
   line-height: 61px;
   font-weight: 400;
   color: #777777;
   margin-bottom: 66px;
}
.yoga-card{
   border-radius: 10px;
   width: 570px;
   background-color: #ffffff;
   box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.1);
   display: flex;
   margin: 0px 15px 25px 15px;
}
.yoga-block{
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   justify-content: space-around;
}
.yoga-block h3{
   font-family: 'Open Sans';
   font-size: 20px;
   line-height: 45px;
   font-weight: 700;
   text-transform: uppercase;
   color: #777777;
}
.yoga-block p{
   font-family: 'Open Sans';
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #555555;
}
.yoga-block p:last-child{
   font-family: 'Open Sans';
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #999999;
}
.yoga{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 125px;
}
main{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   flex-grow: 1;
}
.card-shel{
   width: calc(100%/2);
   display: flex;
   justify-content: flex-end;
}
.card-shell{
   width: calc(100%/2);
}
.card{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}


.photo {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 0px 10px;
   margin-top: 180px;
}
.capsule{
   width: calc(100%/4 - 2px);
}
.pht{
   position: relative;
}

.pht img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}


.pht .caption {
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 2;
   left: 0;
   bottom: 0;
   background-color: #5b6ceb;
   transition: all 0.7s;
   opacity: 0;
}
.pht .caption:hover {
   opacity: 0.8;
   visibility: visible;
   cursor: pointer;
}
.lupa {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2;
   left: 0;
   top: 0;
   background: url(../img/zoom.png);
   background-repeat: no-repeat;
   background-position: center center;
}

.about {
   width: 100%;
   margin: 100px 0px;
   display: flex;
   align-items: center;
   min-width: 0;
}
.swiper {
   width: 570px;
   height: 300px;
   visibility: visible;
}
.swiper-button-next, .swiper-rtl{
   right: var(--swiper-navigation-sides-offset,25px);
   left: auto;
}
.swiper-button-prev, .swiper-rtl{
   left: var(--swiper-navigation-sides-offset,25px);
   right: auto;
}
.swiper-button-next::after{
   font-size:small;
   font-weight: 600;
}
.swiper .swiper-button-next{
   min-width: 50px;
   border-radius: 50%;
   background-color: #ffffff;
   box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.1);
}
.swiper-button-prev::after{
   font-size:small;
   font-weight: 600;
}
.swiper .swiper-button-prev{
   min-width: 50px;
   border-radius: 50%;
   background-color: #ffffff;
   box-shadow: 6px 6px 9px 0px rgba(0,0,0,0.1);
}
.swiper-scrollbar{
   visibility: hidden;
}
.swiper-slide{
   display: flex;
   justify-content: center;
}
.swiper-slide img{
   max-width: 83%;
   background-color: #d7d7d7;
   box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.15);
}
.about section{
   margin-left: 115px;
   padding-bottom: 30px;
}
.abt p{
   font-family: 'Open Sans';
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #555555;
}


.icon {
   width: 100%;
   background-color: #5363db;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
}
.skin{
   display: flex;
   justify-content: center;
   margin: 100px 20px 50px 20px;
}
.skin2{
   display: flex;
   justify-content: center;
   margin: 50px 20px 100px 20px;
}
.icon-card{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content:space-between;
   margin: 0px 20px;
}
.icon-card img{
   margin-bottom: 20px;
   width: 70px;
   height: 70px;
}
.icn {
   margin-bottom: 20px;
   font-family: 'Open Sans';
   font-size: 18px;
   line-height: 27px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
}
.icn-text {
   font-family: 'Open Sans';
   font-size: 16px;
   line-height: 27px;
   font-weight: 400;
   color: #ffffff;
}


.subscriptions{
   margin: 10px 15px;
   width: 370px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffffff;
   box-shadow: 6px 6px 50px 0px rgba(0,0,0,0.1);
   overflow: hidden;
   border-radius: 30px;
}
.value{
   width: 100%;
   height: 150px;
   background-color: #5b6ceb;
   display: flex;
   justify-content: center;
}
.month{
   display: inline-block;
   font-family: 'Open Sans';
   font-size: 18px;
   line-height: 24px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   margin-top: 87px;
}
.price{
   display: inline-block;
   font-family: 'Open Sans';
   font-size: 67.4px;
   line-height: 75px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   text-align: center;
   margin-top: 50px;
}
.dol{
   content: '$';
   font-family: 'Open Sans';
   font-size: 32px;
   line-height: 36px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   margin: 63px 20px 0px 0px;
}

.schedule{
   margin: 40px 0px;
}

.schedule h3{
   font-family: 'Open Sans';
   font-size: 18px;
   line-height: 24px;
   font-weight: 400;
   color: #555555;
   margin: 20px 0px;
}

.btn{
   margin-bottom: 50px;
   width: 170px;
   height: 50px;
   background-color: #5b6ceb;
   font-family: 'Open Sans';
   font-size: 18px;
   line-height: 24px;
   font-weight: 600;
   color: #ffffff;
   cursor: pointer;
   border-color: #5b6ceb;
   border-radius: 20px;
}

.block-sub{
   margin: 100px 0px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}


.abt-ftr{
   margin-left: 110px;
}
.abt-ftr a{
   margin-right: 15px;
}
.inf-foot{
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color: #5b6ceb;
   padding-top: 100px;
}
.footer-text{
   font-family: 'Open Sans';
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #ffffff;
}
.hftr{
   font-family: 'Open Sans';
   font-size: 18px;
   line-height: 22px;
   font-weight: 700;
   color: #ffffff;
   margin-bottom: 60px;
}

.cntus {
   margin-bottom: 60px;
   font-family: 'Open Sans';
   font-size: 18px;
   line-height: 22px;
   font-weight: 700;
   color: #ffffff;
}
.links-cnt {
   display: flex;
}
.adr{
   display: flex;
   cursor: pointer;
   margin-bottom: 30px;
}
.adr::before{
   margin: 10px 20px 0px 0px;
   background-image: url(../img/icon/placeholder_688.png);
   background-size: 15px 21px;
   display: inline-block;
   width: 15px;
   height: 21px;
   content: "";
   position: relative;
   background-repeat: no-repeat;
}
.cnt-right {
   font-family: 'Open Sans';
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #ffffff;
}
.phn-ins {
   display: flex;
   flex-direction: column;
}
.phn-ins a{
   text-decoration: none;
   font-family: 'Open Sans';
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #ffffff;
}
.phn{
   display: flex;
   cursor: pointer;
}
.phn img{
   margin: 10px 20px 0px 0px;
   width: 21px;
   height: 21px
}
.cnt-left {
   margin: 0px 200px 0px 110px;
   display: flex;
   flex-direction: column;
}
.mail {
   text-decoration: none;
   font-family: 'Myriad Pro';
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #ffffff;
}
.mail::before{
   margin-right:10px;
   background-image: url(../img/icon/email.png);
   background-size: 21px 13px;
   display: inline-block;
   width: 21px;
   height: 13px;
   content: "";
   position: relative;
   background-repeat: no-repeat;
}
.examp{
   margin-top: 40px;
   text-decoration: none;
   font-family: 'Myriad Pro';
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   color: #ffffff;
}
.examp::before{
   margin-right:10px;
   background-image: url(../img/icon/planet_earth_687.png);
   background-size: 21px 21px;
   display: inline-block;
   width: 21px;
   height: 21px;
   content: "";
   position: relative;
   background-repeat: no-repeat;
}
.links-icons{
   max-width: 100%;
   background-color: #5b6ceb;
   padding-left: 110px;
   padding-bottom: 100px;
   overflow: hidden;
}
.links-icons a{
   margin-right: 17px;
}
.last-point {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100px;
   background-color: #5363d8;
}
.ltp {
   font-family: 'Myriad Pro';
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
   color: #b7bffc;
}
.skin-wraper{
   display: flex;
   justify-content: space-between;
}





@media (max-width: 1199px) {
   .our{
      margin-bottom: 30px;
   }
   .callback {
      margin-right: 50px;
   }
   .yoga {
      margin-top: 50px;
   }
   .yoga-card{
      overflow: hidden;
      margin: 0px 7px 7px 10px;
   }
   .photo{
      margin-top: 50px;
   }
   .block-sub{
      margin: 50px 0px;
   }
   .abt-ftr{
      margin-left: 50px;
   }
   .cntus{
      margin-bottom: 50px;
   }
   .cnt-left{
      margin: 0px 100px 0px 55px;
   }
   .links-icons{
      padding-left: 50px;
   }
   .subscriptions {
      width: 350px
   }
   .baner{
      background-size: 1400px 100%;
      background-position: -180px 0px;
   }
}


@media (max-width: 991px) {
   .yoga-card img{
      position: relative;
      left: -30px;
   }
   .yoga-block{
      margin: 0;
   }
   .card-shel{
      display: flex;
   }
   .card-shell{
      display: flex;
   }
   .about{
      margin: 70px 0px;
   }
   .skin{
      margin: 50px 20px 25px 20px;
   }
   .skin2{
      margin: 25px 20px 50px 20px;
      padding-bottom: 30px;
   }
   .icn-text {
      line-height: 20px;
   }
   .cnt-left{
      margin: 0px 60px 0px 30px;
   }
   .baner{
      background-size: 1200px 100%;
      background-position: -180px 0px;
   }
}


@media (max-width: 767px) {
   .yoga-card{
      flex-direction: column;
   }
   .yoga-card img{
      left: 0;
      width: 100%;
   }
   .yoga-block p:last-child {
      line-height: 18px;
      font-size: 16px;
   }
   .yoga-block p {
      line-height: 14px;
      font-size: 16px;
      margin-bottom: 20px;
   }
   .yoga-block h3 {
      line-height: 25px;
      text-transform:none;
      font-size: 22px;
      margin-bottom: 20px;
   }
   .yoga-block{
      left: 0px;
      margin: 20px 0px;
      align-items: center;
   }
   .about{
      flex-direction: column;
   }
   .about section {
      margin-left: 30px;
      padding-bottom: 0px;
   }
   .abt h2{
      display: flex;
      justify-content:center;
      margin-bottom: 15px;
   }
   .abt p{
      font-size: 16px;
      margin-bottom: 15px;
   }
   .swiper {
      height: 260px;
   }
   .skin{
      flex-direction: column;
      padding: 30px 0px;
      margin: 50px 20px 0px 20px;
   }
   .skin2{
      flex-direction: column;
      padding: 30px 0px;
      margin-bottom: 50px;
      margin: 0px 20px 50px 20px;
   }
   .block-sub{
      margin: 10px 0px;
   }
   .skin-wraper{
      margin: 10px 0px;
   }
   .photo{
      padding: 0;
   }
   .capsule {
      width: calc(100%/2 - 10px);
   }
   .subscriptions{
      width: 370px;
   }
   .callback {
      margin-right: 40px;
      margin-left: 20px;
   }
   .baner{
      background-size: 1000px 100%;
      background-position: -180px 0px;
   }
   .inf-foot{
      flex-direction: column;
   }
   .inf-foot {
      padding-top: 50px;
   }
   .hftr {
      margin-bottom: 30px;
   }
   .cnt{
      margin: 30px 0px 30px 50px;
   }
   .links-icons {
      padding-bottom: 20px;
   }
   .last-point {
      height: 60px;
   }
   #menu__toggle {
      opacity: 0;
   }
   .menu__btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 40px;
      right: 20px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 2;
   }
   .menu__btn > span,
   .menu__btn > span::before,
   .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color:#5363db;
   }
   .menu__btn > span::before {
      content: '';
      top: -8px;
   }
   .menu__btn > span::after {
      content: '';
      top: 8px;
   }
.menu__box {
   display: block;
   position: absolute;
   visibility: hidden;
   top: 0;
   right: -100%;
   width: 100%;
   height: 200px;
   margin: 0;
   padding: 80px 0;
   list-style: none;
   text-align: center;
   background-color: #ECEFF1;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
   z-index: 1;
}
.menu__item {
   display: block;
   padding: 12px 24px;
   color: #555555;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 600;
   text-decoration: none;
}
.menu__item:hover {
   background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
   visibility: visible;
   right: 0;
}
.logo{
   z-index: 3;
}
}


@media (max-width: 575px) {
   .baner{
      flex-direction:column;
      background-position-x: -600px;
      background-size: 1700px 100%;
      padding: 60px 0px;
   }
   .callback{
      display: flex;
      order: 1;
      margin-top: 30px;
   }
   .card{
      margin: 0px 10px;
   }
   .card-shel{
      width: 100%;
   }
   .card-shell{
      width: 100%;
   }
   .yoga-block h3{
      font-size: 26px;
   }
   .yoga-block p{
      font-size: 18px;
      line-height: 18px;
   }
   .yoga-block p:last-child{
      font-size: 18px;
   }
   .skin-wraper{
      flex-direction: column;
   }
   .icon-card{
      margin: 10px 0px;
   }
   .icn-text{
      font-size: 18px;
      line-height: 22px;
   }
   .icn{
      font-size: 20px;
   }
   .links-icons a{
      margin-right: 25px;
   }
}

@media (max-width: 320px) {
   section h1{
      font-size: 30px;
   }
   section p{
      font-size: 34px;
   }
   .baner{
      background-position-x: -900px;
   }
   .callback{
      margin-right: 0px;
      margin-left: 0;
   }
   .yoga h2{
      margin-left: 40px;
   }
   .yoga-card{
      width: 100%;
   }
   .swiper{
      width: 340px;
      height: 180px;
   }
   .swiper-slide img{
      max-width: 72%;
   }
   .skin{
      padding: 0;
   }
   .abt-ftr {
      margin-left: 10px;
   }
   .cnt {
      margin: 30px 0px 30px 10px;
   }
   .cnt-left {
      margin: 0px 20px 0px 5px;
   }
   .adr::before {
      margin: 10px 10px 0px 0px;
      width: 23px;
   }
   .adr address {
      margin-left: 10px;
   }
   .cntus {
      margin-bottom: 20px;
   }
   .hftr {
      margin-bottom: 20px;
   }
}